


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="panel" style="border: none; overflow: hidden">
  <div class="panel-heading dialog-title">
    <span class="header-space">Receita - {{ receita.nome }}</span>
    <a style="cursor: pointer;"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal"></i></a>
  </div>

  <div class="panel-body">

    <div class="form-group form-content">


      <div class="text-center"><h2>{{ receita.nome }}</h2></div>
      <p><strong>Descrição:</strong> {{ receita.descricao }}</p>
      <p><strong>Ingredientes:</strong></p>
      <ul>
        <li *ngFor="let ingrediente of receita.ingredientes">
          {{ ingrediente.quantidade }} {{ ingrediente.unidadeMedida }} de {{ ingrediente.nomeIngrediente }}
        </li>
      </ul>
      <p><strong>Modo de Preparo:</strong> {{ receita.modoPreparo }}</p>
      <p><strong>Tempo de Preparo:</strong> {{ receita.tempoPreparo }} minutos</p>
      <p><strong>Rendimento:</strong> {{ receita.rendimento }}</p>
      <p><strong>Categoria:</strong> {{ receita.categoria }}</p>

    </div>
  </div>
