<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <div class="body">
      <div class="main">
        <div class="header">
          <h2><i><span class="border_text">Acesso Cliente</span> </i>

          </h2>
          <span>
          <img src="/assets/logo.png" alt="" style="width: 20%;">
        </span>
        </div>

        <div class="contactus" >
          <div class="alert alert-danger alert-div" role="alert" *ngIf="false">
<!--            <strong>{{}}</strong>-->
          </div>
          <form [formGroup]="loginForm" style="margin: 0; border: 0">
            <input type="email"
                   placeholder="Digite seu Email."
                   formControlName="email"
                   >
            <input type="password"
                   formControlName="password"
                   placeholder="Digite sua senha."
                   >
            <div class="align-items-center" style="width:  300px">
              <button class="center-button" (click)="redirectToRegister()" style="background: darkorange">Cadastre-se</button>
              <button class="center-button" (click)="submit()">Entrar</button>
            </div>
          </form>

        </div>
      </div>

    </div>

    <!-- FeedBack Field -->
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="showFeedbackPanel">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <strong>{{errorMensagem}}</strong>
    </div>
  </mat-card-content>
</mat-card>
