<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="panel" style="border: none; overflow: hidden">
  <div class="panel-heading dialog-title">
    <span class="header-space">Adicionar Receita</span>
    <a style="cursor: pointer;"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal"></i></a>
  </div>

  <div class="panel-body">
    <form [formGroup]="receitaForm" (ngSubmit)="onSubmit()" class="container mt-5" style="width: 750px; height: 550px">
      <mat-tab-group>
        <mat-tab label="Receita">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" formControlName="nome" class="form-control">
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea id="descricao" formControlName="descricao" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label for="modoPreparo" class="form-label">Modo de Preparo</label>
            <textarea id="modoPreparo" formControlName="modoPreparo" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label for="tempoPreparo" class="form-label">Tempo de Preparo</label>
            <input id="tempoPreparo" formControlName="tempoPreparo" type="number" class="form-control">
          </div>
          <div class="mb-3">
            <label for="rendimento" class="form-label">Rendimento</label>
            <input id="rendimento" formControlName="rendimento" class="form-control">
          </div>
          <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <input id="categoria" formControlName="categoria" type="number" class="form-control">
          </div>
          <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-primary" (click)="avancarParaIngredientes()">Avançar</button>
          </div>
        </mat-tab>

        <mat-tab label="Ingredientes">
          <div class="mb-3" style="height: 450px; overflow-y: auto;">
            <div formArrayName="ingredientes">
              <div *ngFor="let ingrediente of ingredientes.controls; let i=index" [formGroupName]="i" class="mb-3 p-3 border rounded">
                <div class="mb-3">
                  <label for="nomeIngrediente" class="form-label">Nome do Ingrediente</label>
                  <input id="nomeIngrediente" formControlName="nomeIngrediente" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="quantidade" class="form-label">Quantidade</label>
                  <input id="quantidade" formControlName="quantidade" type="number" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="unidadeMedida" class="form-label">Unidade de Medida</label>
                  <input id="unidadeMedida" formControlName="unidadeMedida" class="form-control">
                </div>
                <button type="button" class="btn btn-success" (click)="saveIngrediente(i)">Salvar Ingrediente</button>
              </div>
            </div>
            <button type="button" class="btn btn-primary mb-3" (click)="addIngredienteForm()">Adicionar Ingrediente</button>

            <h5>Ingredientes Adicionados</h5>
            <ul class="list-group mb-3">
              <li *ngFor="let ingrediente of ingredientesList; let i=index" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <strong>{{ ingrediente.nomeIngrediente }}</strong> - {{ ingrediente.quantidade }} {{ ingrediente.unidadeMedida }}
                </div>
                <button type="button" class="btn btn-danger" (click)="removeIngrediente(i)">Remover</button>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <button type="button" class="btn btn-primary" (click)="voltarParaReceita()">Voltar</button>
            <button type="submit" class="btn btn-success">Salvar Receita</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>
