<div class="containers">
  <div class="row" style="max-width: 100vw">
  <div class="form-group">
    <label class="col-md-2 control-label" for="Nome">Nome <h4>*</h4></label>
    <div class="col-md-8">
      <input id="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="Nome">CPF <h4>*</h4></label>
    <div class="col-md-2">
      <input id="cpf" name="cpf" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
    </div>

    <label class="col-md-1 control-label" for="Nome">Nascimento<h4>*</h4></label>
    <div class="col-md-2">
      <input id="dtnasc" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
    </div>

    <!-- Multiple Radios (inline) -->

    <label class="col-md-1 control-label" for="radios">Sexo <h4>*</h4></label>
    <div class="col-md-4">
      <label required="" class="radio-inline" for="radios-0" >
        <input name="sexo" id="sexo" value="feminino" type="radio" required>
        Feminino
      </label>
      <label class="radio-inline" for="radios-1">
        <input name="sexo" id="sexo" value="masculino" type="radio">
        Masculino
      </label>
    </div>
  </div>
  </div>
</div>
