<div class="containers">
  <div class="row">
    <div *ngFor="let item of recipe; let i = index" class="col-md-3">
      <div class="policy-p-card">
        <div class="date">
          <h3>25</h3>
          <h4>Jun</h4>
        </div>
        <div class="policy-image">
          <img src="/assets/p1.jpeg" alt="P1">
        </div>
        <h2>{{ item.nome }}</h2>
        <p>
          {{ item.descricao }}
        </p>
        <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
      </div>
    </div>
  </div>
</div>
