
<!--                <div class="containers">-->
<div class="row">
  <div class="col-md-3">
    <div class="policy-p-card">
      <div class="date">
        <h3>25</h3>
        <h4>Jun</h4>
      </div>
      <div class="policy-image">
        <img src="/assets/p1.jpeg" alt="P1">
      </div>
      <h2>The standard Lorem Ipsum passage</h2>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      </p>
      <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
    </div>

  </div>
  <div class="col-md-3">
    <div class="policy-p-card">
      <div class="date">
        <h3>25</h3>
        <h4>Jun</h4>
      </div>
      <div class="policy-image">
        <img src="/assets/p1.jpeg" alt="P1">
      </div>
      <h2>The standard Lorem Ipsum passage</h2>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      </p>
      <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
    </div>

  </div>
  <div class="col-md-3">
    <div class="policy-p-card">
      <div class="date">
        <h3>25</h3>
        <h4>Jun</h4>
      </div>
      <div class="policy-image">
        <img src="/assets/p1.jpeg" alt="P1">
      </div>
      <h2>The standard Lorem Ipsum passage</h2>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      </p>
      <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
    </div>

  </div>
  <div class="col-md-3">
    <div class="policy-p-card">
      <div class="date">
        <h3>25</h3>
        <h4>Jun</h4>
      </div>
      <div class="policy-image">
        <img src="/assets/p1.jpeg" alt="P1">
      </div>
      <h2>The standard Lorem Ipsum passage</h2>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      </p>
      <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
    </div>

  </div>
</div>
<!--                </div>-->


